
.container-el{
    display:flex;
    flex-direction: column;
    height:100vh;
}
.titles-lines{
    display: flex;
    /* flex-wrap: row; */
}

div.lines-right.gamesquestions > div.line-2.gamesquestions {
    height: 2px;
    width: 20%;
    margin-top: 30px;
    margin-left: 80%;
  }
  div.lines-right.gamesquestions  div.line-1.gamesquestions {
    height: 2px;
    width: 40%;
    margin-left: 60%;
    margin-top: auto;
    margin-top:-190px;
    /* align-self:center; */
  }

  div.lines-left.gamesquestions  div.line-1.gamesquestions {
    height: 2px;
    background: white;
    margin-top: -90px;
    width: 40vw;
  }
  
  div.lines-left.gamesquestions > div.line-2.gamesquestions {
    height: 2px;
    margin-top: 30px;
    /* margin-bottom:50px; */
    width: 20vw;
    background: white;
  }

  .categories{
      padding-top:100px;
  }