@font-face {
  font-family: "MyFont";
  src: local("MyFont"), url(../fonts/squids-game-font.otf) format("opentype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}


.grid-child-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align:center
}


.line-1 {
    height: 1px;
    background: white;
    margin-top:-10px;
    width:40vw;
  }

  .line-2 {
    height: 1px;
    margin-top:20px;
    width:20vw;
    background: white;
  }
#main-title {
  font-size: 4rem;
}

.br {
    display: block;
    margin-bottom: -3rem;
}

.btn{
    margin:40px;
    padding:3px 40px;
}

@media screen and (min-width: 780px) {
  img {
    width: 30rem;
    height: 15rem;
  }
}

@media screen and (max-width: 779px) {
  img {
    width: 80%;
    height: auto;
    padding: 0 10%;
  }
}

#main-title {
  font-family: "MyFont";
}

ul {
  list-style: none;
  padding: 0;
}
li {
  padding-left: 1.3em;
}
li:before {
  content: "\f135";
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}
