.mainMyhistory {
  width: 100%;
  height: 80%;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}

.tableContainer {
  height: 5% !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: start;
  padding: 0;
  position: relative;
  right: 30%;
}

.tableContainer table {
  border: 1px solid white;
  border-radius: 16px;
  padding: 10px 20px;
}

.tableContainer table>thead>tr>th, .tableContainer table>tbody>tr>td{
  width: 200px;
}

.tableContainer table>tbody>tr:hover{
  background-color: rgba(0, 0, 0, 0.1)
}

td {
  text-align: center;
  padding: 10px 0;
}
