#main-question {
  height: 10vh;
  width: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.403);
}
