.timerContainer {
  border: 1px solid white;
  min-height: 70px;
  max-height: 70px;
  min-width: 70px !important;
  max-width: 70px;
  border-radius: 200px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}