#main-title{
    font-size: 5rem;
    font-family: "MyFont";
    padding-top:30px;
    margin-top:0px;
    margin-left:10px;
    /* width:50vw; */
    /* margin-right:0; */
  }
  
  /* .main-title{
    margin-top:-10px;
  } */

span#text-game{
    margin-left: 50px;
}